* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}


.profile-card {
  background-color: hsla(0, 0%, 100%, .6);
  width: 480px;
  max-width: calc(100vw -10px);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .8) 10px 10px 60px;

}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

.head {
  text-align: center;
}

body {
background-color: red;
align-content: center;
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}

h1, h2 {
  margin: 5px;
  border: 10px;
  text-align: center;
  border-color: white;
  color: wheat;
  background-color: black;
}

.profil-image {
   margin-bottom: 50px;
}

img {
  width: 250px;
  border-radius: 25%;
  padding: 1%;
  background-color: white;
  transform: rotateY(180deg);
}

img:hover {
  /*border-radius: 0;*/
  transform: scale(1.1);
}

.name-headline {

  text-align: center;
}

.content {
  background-color: black;
  color: wheat;
