h1 {
  font-size: 36px;
  color: rgba(0, 0, 0, .8);
}

 h1, figcaption {
  text-align: center;
  font-family: "Lucida Sans Unicode", sans-serif;
}

figcaption {
  font-size: 11px;
}



#kepalairas1 {
  text-align: center;
  color: rgb(0, 0, 0, .6);
}

#kepalairas2 {
  text-align: center;
  color: rgb(0, 0, 0, .6);
}

#kepalairas3 {
  text-align: center;
  color: rgb(0, 0, 0, .6);
}

#kepalairas4 {
  text-align: center;
  color: rgb(0, 0, 0, .6);
}0
jj
  
#kepalairas5 {
  text-align: center;
  color: rgb(0, 0, 0, .6);
}
  
h2 {
  text-align: center;
  color: rgb(0, 0, 0, .6);
}

p {
  color: rgb(0, 0, 0, .8);
}

#hatterszin {
  background-color: rgb(113, 232, 149);
}

img {
  height: auto;
  width: 100%;
}

figure {
  margin: 0;
}

body {
  margin: 0;
}

article {
  max-width: 700px;
  padding: 10px;
  margin: 0 auto;
}

p {
  color: rgba(0, 0, 0, .8);
  font-family: Georgia, Cambria, "Rimes New Roman", Times, serif;
  font-size: 21px;
  letter-spacing: -.003em;
  line-height: 1.58;
}
